.rhap_container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.rhap_progress-section {
  width: 100%;
}

.rhap_current-time {
  display: none;
}

.rhap_progress-container {
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
}

.rhap_progress-bar {
  background-color: #008966;
}

.rhap_progress-indicator {
  left: 74.96%;
  height: 10px;
  background: rgb(208, 212, 212);
  position: relative;
}

.rhap_time {
  display: none;
}

.rhap_additional-controls {
  display: none;
}

.rhap_forward-button,
.rhap_rewind-button {
  display: none;
}

.rhap_volume-controls {
  display: none;
}

.rhap_play-pause-button {
  border: none;
  background: transparent;
  cursor: pointer;
  margin: -19px 0 0 0;
  outline: none;
}

.rhap_play-pause-button > svg {
  width: 45px;
  height: 45px;
  color: #008966;
}
